@import 'https://fonts.googleapis.com/css?family=Raleway:300,400';
body {
    font-family: 'Raleway:300', sans-serif
}

#admin-sidebar {
    padding-left: 0;
}

.admin-sidenav {
    padding-top: 30px;
    width: auto;
    /* height: auto; */
    margin-left: 0px;
    background-color: #007bff;
    height: 100vh;
    border-width: 10px 10px 0 0;
    border-color: #f5f5f559;
    border-style: groove;
}

.admin-sidenav a {
    text-decoration: none;
    text-align: left;
}

.admin-sidenav li {
    display: flex;
    text-align: justify;
    padding: .5rem;
    /* padding-left: 2rem; */
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    background-color: #007bff;
    /* border: 1px solid #333; */
    /* border-radius: 5px; */
    margin-bottom: 5px;
    justify-content: center;
}

.admin-sidenav li a {
    width: 100px;
    color: white;
}

.admin-sidenav li a:active {
    border-color: #02d3f5;
}

.admin-sidenav li:hover {
    cursor: pointer;
    border-radius: 5px;
    border-color: #02d3f5;
    /* -webkit-transform: translate(30px, 0px);
    transform: translate(30px, 0px); */
    /* background: -webkit-linear-gradient(left, #006a7b, #4d8ee4); */
    background: linear-gradient(to right, #006a7b, #4d8ee4);
}

.admin-sidenav li:active {
    border-color: #02d3f5;
}