.product-grid {
    width: 80%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border: 1px solid #e7e7e7;
    border-width: 5px;
    border-radius: 10px;
}

.product-grid .product-image {
    position: relative;
}

.product-grid .product-image a.image {
    display: block;
}

.product-grid .product-image img {
    transition: all 0.3s ease 0s;
    width: 135px;
    height: 280px;
    object-fit: contain;
}

.product-grid .product-sale-label {
    color: #fff;
    background: #1abc9c;
    font-size: 13px;
    text-transform: capitalize;
    line-height: 35px;
    width: 55px;
    height: 35px;
    position: absolute;
    top: 0;
    right: 0;
    animation: bg-animate 5s infinite linear;
}

.product-grid .product-links {
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    bottom: 8px;
    left: 52px;
    transition: all 0.3s ease 0s;
}

.product-grid:hover .product-links {
    opacity: 1;
}

.product-grid .product-links li {
    margin: 0 0 5px;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.3s ease 0s;
}

.product-grid:hover .product-links li {
    opacity: 1;
    transform: translateY(0);
}

.product-grid .product-links li a {
    color: #fff;
    background-color: #00b894;
    font-size: 14px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    padding: 8px 10px;
    display: block;
    opacity: 0.9;
    transition: all 0.3s ease 0s;
    animation: bg-animate 5s infinite linear;
}

.product-grid .product-links li a:hover {
    color: #fff;
    box-shadow: 0 0 0 3px #fff inset;
    opacity: 1;
}

.product-grid .product-links li a i {
    margin: 0 5px 0 0;
}

.product-grid .product-content {
    padding: 15px 0 5px;
}

.product-grid .title {
    font-size: 17px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0 10px 14px;
    margin: 0 0 7px;
    border-bottom: 1px solid #dfe5e9;
    border-width: 5px;
}

.product-grid .title a {
    color: #000;
    transition: all 0.3s ease 0s;
}

.product-grid .title a:hover {
    animation: color-animate 5s infinite linear;
}

.product-grid .price {
    color: #1abc9c;
    font-size: 20px;
    font-weight: 400;
    animation: color-animate 5s infinite linear;
}

.product-grid .price span {
    color: #999;
    text-decoration: line-through;
    margin: 0 3px 0 0;
}


/* @keyframes color-animate{
        0%{ color: #00b894; }
        20%{ color: #00cec9; }
        40%{ color: #0984e3; }
        60%{ color: #6c5ce7; }
        80%{ color: #e84393; }
        100%{ color: #00b894; }
    }
    @keyframes bg-animate{
        0%{ background-color: #00b894; }
        20%{ background-color: #00cec9; }
        40%{ background-color: #0984e3; }
        60%{ background-color: #6c5ce7; }
        80%{ background-color: #e84393; }
        100%{ background-color: #00b894; }
    } */

@media screen and (max-width:1200px) {
    .product-grid {
        margin: 0 0 30px;
    }
    .products {
        padding-left: 80px;
    }
}

@media only screen and (min-width:600px) {
    .products {
        padding-left: 95px;
    }
}